*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
    font-weight:normal;
}
body{
    background-image: url(/img/backgroundimg.jpg);

    }
/* NavBar*/

.nav-container{ 
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    background-color: #e0dbdd;
    background-position: right;

    
    

}

.nav-container h1{
    cursor: pointer;
    color: #95596e;
    font-size: 60px;
    font-family: "tangerine";
    font-weight: bold;
    transition: .4s;
}

.nav-container p{
    color: #95596e; ;
    font-size: 25px;
    font-family: "tangerine";
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px solid #95596e;
}
.title-container{
    transition: .4s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-buttons{
    display: flex;
    gap: 6rem;

}
.menu-buttons button{
    font-family: "t";
    height: 40px;
    width: 80px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-bottom: 5px solid transparent;
    color: #7a2e49;
    font-size: 20px;
    font-style: italic;
    transition: .4s;
}
.menu-buttons button:hover{
    opacity: 1;
    border-bottom:5px solid #95596e;
    color: #95596e;
}
/* Banner */
.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/img/bannerNav.jpg);
    background-position: right;
    padding-bottom:2rem ;
}
.banner-content 
h1,
span,
h2{
    font-family: "tangerine";
    font-size: 90px;
    text-align: center;
    color: #fefefe;
}
.banner-content span{
    font-weight: bold;
    color: #eab8ca;
}
/* feature */
.feature-container{
    background-color: #e6d7dc;
    padding-bottom: 1rem;
}
.feature-content{
    gap: 1rem;
    justify-content: space-between;
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.feature{
    width: 50rem;
    padding-top: 2rem;
    text-align: center;
    justify-content: center;
}
.feature i {
    color: #7a2e49;
    font-size: 30px;
}
.feature h1{
    color: #95596e;
}
.feature p {
    color: #7a2e49;
}
/* destaques */
.destaque-container{
    padding-top: 2rem;
    padding-bottom: 3rem;
    background-color: #000000b5;
    display: flex;
}
.img-container img{
    opacity: .8;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 40rem;
    height: 28.1rem;
    transition: .4s;
}

.colors{
   
    margin-left: 2px;
    height: 28.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.color{
    border: 2px solid #ffffff;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:5rem;
    width: 5rem;
}
.blue-shine{
    background-color: #66a6da;

}
.blue{
    background-color: #5079d8;

}
.dark-blue{
    background-color: #37718c;

}
.gold{
    background-color: #d7c86f;

}
.ligth{
    background-color: #e6d7dc;

}

.descritpion{

    margin-left: 5rem;
    margin-right: 5rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descritpion h1{
    font-family: "Waterfall";
    text-align: center;
    font-size: 60px;
    color: #fefefe;
}
.descritpion span{
    color:#7595e0;
    
}

.descritpion-lemon{

    margin-left: 5rem;
    margin-right: 5rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descritpion-lemon h1{
    font-family: "Waterfall";
    text-align: center;
    font-size: 60px;
    color: #fefefe;
}
.descritpion-lemon span{
    color:#c2e075;
    
}
.lemon{
    background-color: #c2e075;

}
.white{
    background-color: #fff;

}
.black{
    background-color: #000;

}

.purplepink{
    background-color: #c683db;
}
.descritpion-purplepink{
    margin-left: 5rem;
    margin-right: 5rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.descritpion-purplepink h1{
    font-family: "Waterfall";
    text-align: center;
    font-size: 60px;
    color: #fefefe;
}
.descritpion-purplepink span{
    color: #c683db;
}

.nude{
    background-color: #8b6c6c;
}

/* carrousel */
.carousel-inner{
    height: 25rem;
}
/* emalte */
.esmalte-container{
    background-color: #ffffffd8;
}
.esmalte-container h1{
    font-family: "Waterfall";
    font-size: 60px;
    text-align: center;
}
.esmalte-container img{
    height: 400px;
}
#main-content #product-image.changing{
    opacity: 0.5;
}
.esmalte-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.esmalte-picker ul{
    display: flex;
    justify-content: center;
}
.esmalte-picker li{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}
.esmalte-picker li .color{
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    box-shadow: 1px 1px 1px;
    border: 2px solid #fff;
    pointer-events: none;
}
.esmalte-picker h2{
    padding-bottom: 4rem;
    font-size: 45px;
}


#pink .color{
    background-color: #c6a2b4;

}
#blue .color{
    background-color: #686c8d;

}
#bluemar .color{
    background-color: #91bbc4;

}
#red1 .color{
    background-color: #8c4444;

}
#green .color{
    background-color: #67674e;

}
.selected{
    outline: 1px solid #7a2e49;
}
/* prices */
.price-container{
    padding-top: .5rem;
    background-color: #000000b5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.prices-container{
    padding-top: 2rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-around;
    gap: 10rem;
    transition: .4s;
}

.price-container h1{
    color: #fff;
    font-family: "tangerine";
    font-size: 60px;

}
.title-content {
    background-color: #895a6db4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-content h1{
    padding-top: 1rem;
    font-size: 70px;
}
.hand,
.feet{
    border-radius: 15px;
    background-color: #895a6db4;
    transition: .4s;
}

.hand p,
.feet p{
    padding-top: 2rem;
    font-family: "Waterfall";
    font-weight: bold;
    font-size: 40px;
    color: #fff;
}
.pemao{
    background-color: #895a6db4;
    width: 100%;
}
.pemao p{
    font-family:  "Waterfall";
    font-weight: bold;
    font-size: 40px;
    color: #fff;
}
/* about */
.about-container{
    display: flex;
    background-color: #000000b5;
    justify-content: space-between;
    
}
.about-content img{
    height: 300px;
}
.about-description{
    margin-left: 5rem;
    width: 55rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-description p{
    color: #fff;
    font-family: "tangerine";
    font-size: 40px;
}
.about-content{
    height: 30rem;
    width: 20rem;
    background-color: #e6d7dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-content p{
    font-size: 20px;
    font-family: "Edu NSW ACT Foundation";
    color: #000;
}
.about-content i{
    text-decoration: none;
    font-size: 10px;
    color: #000;
}
.about-content i:hover{
    color: #7a2e49;
}
/* galery */
.galery{
    background-color: #000000b5;
    margin-left: 2.5rem;
    display: flex;
    flex-wrap: wrap;
}
.galery-img img{
    height: 300px;
    width: 20rem;
    transition: .5s;
    opacity: .5;
    cursor: pointer;
}
.galery-img img:hover{
opacity: 1;
}
/* contact */
.contact-container{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 2rem;
    background-color: #704557b4;
}
.contact-container h1{
    font-family: "Edu NSW ACT Foundation";
    color: #fff;
    padding-bottom: 1rem;
    
    
}
.contact-container p{
    font-family: "Edu NSW ACT Foundation";
    color: #fff;
    padding-bottom: 1rem;
    font-size: 20px;

}
.contact-container i {
    color: #fff;
    font-size: 40px;
}
.contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.fa-whatsapp{
    padding-bottom: 14px;
    transition: .4s;
}
.fa-whatsapp:hover{
    color: rgb(28, 197, 42);

}
.fa-instagram{
    transition: .4s;
}
.fa-instagram:hover{
    color: #d54cc0;
}
.days-container{
    display: flex;
    gap: 2rem;
}
footer{
    background-color: #000000b5;
    height: 3rem;
    color: #fff;
    text-align: center;
}
/* mediaQUERY */





@media(max-width: 425px){
    .menu-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    html{
        width: 425px;
    }
    .nav-container{
        width: 425px;
    }
    .nav-container p{
        display: none;
    }
    .nav-container h1{
        font-size: 40px;
    }
    
    .banner-container{
        height: 10rem;
        padding-bottom: 0;
    }
    .banner-content 
    h1,
    span,
    h2{
    font-size: 40px;
    }
    .feature-container{
        width: 100%;
    }
    .feature-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .feature {
        padding-top: .5rem;
        width: 100%;
        font-size: 14px;
    }
    .destaque-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid #fff;
    }
    .destaque-container img{
        height: 200px;
        width: 250px;
    }
    .img-container{
        height: 200px;
    }
    .colors{
        padding-top: 1rem;
        display: flex;
        height: 40px;
        flex-direction: row;
        margin-bottom: 1rem;
    }
    .colors div{
        width: 30px;
        height: 30px;
    }
    .esmalte-content{
        padding-top: 2rem;
    }
    .esmalte-content img{
        height: 200px;
    }
    #title{
        font-size: 40px;
        margin: 0 5px;
    }
    .price-container{
        padding-bottom: 2rem;

    }
    .prices-container{
        
        display: flex;
        flex-direction: column;
        width: 220.63px;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .price-container img{
        height: 200px;
        border-radius: 10px;
        border-top: none;
        
    }
    .about-container{
        
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-description{
        border-top: 1px solid #fff;
        margin: 0;
        width: 380px;
        text-align: center;
        
    }
    .about-description p{
        width: 400px;
        
        font-size: 30px;
    }
    .about-content{
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        width: 100%;
        height: 400px;
        
    }
    .about-container img{
        height: 250px;

    }
    .galery{
        margin-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 2rem;

    }
    .galery-img img{
        height: 200px;
        width: 170px;
    }
    .pemao{
        display: none;
    }
    .h1-nail{
        width: 300px;
    }
    .destaque-container h1{
        font-size: 40px;

    }
    .esmalte-picker ul{
        margin-bottom: 0;
        padding-left: 0;
        height: 80px;
    }
    .esmalte-picker li{
       margin:  2px;
    }
    .esmalte-container{
        padding-bottom: 2.5rem;
    }
    .contact-container{
        padding-top: 5rem;
        padding-bottom: 4.5rem;
    }
}

@media(max-width: 768px){
    .destaque-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .colors{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        height: 100px;
    }
    .prices-container{
        gap: 1rem;
    }
    .galery{
        margin: 0 3rem 0 4rem;
        width: 100%;
    }
}
@media(max-width: 1024px){
    .destaque-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .colors{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        height: 100px;
    }
    .galery img{
        width: 400px;
}
    .galery{
        margin-left: 6.5rem;
    }


}
@media(max-width: 1440px){
    .contact-container{
        padding-bottom: 5rem;
        display: flex;
        justify-content:end;
        align-items: center;
    }
    .galery{
        margin-left: 4rem;
    }
    .destaque-container{
        padding-left: 2rem;
      
    }
}
@media(max-width: 2560px){
    .banner-container{
        padding-top: 2rem;
    }
    .destaque-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-container{
        justify-content: space-around;
    }
    .about-content{
        width: 500px;
    }
    .galery img{
        width: 300px;
    }
    .galery{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact-container{
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}

